/* Estilos para la sección de noticias */
.news-section {
  margin-top: 20px;
}

.news-article {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.news-article h3 {
  margin-top: 0;
}

.news-article p {
  margin-bottom: 0;
}

.news-article a {
  color: #333;
  text-decoration: none;
}

.news-article a:hover {
  text-decoration: underline;
}