body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

article {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

ol {
    list-style-type: decimal; /* Tipo de numeración: 1, 2, 3, ... */
    color: #333; /* Color del número */
    font-size: 16px; /* Tamaño de fuente del número */
    margin-left: 20px; /* Espacio a la izquierda de la lista */
  }

img {
    display: block;
    margin-left: 40px;
    margin-right: auto;
  }  